{% schema %}
  {
    "name": "Tricolumn Section",
    "settings": [
      {
        "type": "text",
        "id": "page-heading",
        "label": "Encabezado de la Pagina",
        "default": "Bienvenido a Nuestra Tienda"
      },
      {
        "type": "text",
        "id": "page-heading",
        "label": "Encabezado de la Sección",
        "default": "Bienvenido a Nuestra Tienda"
      },
      {
        "type": "text",
        "id": "page-heading",
        "label": "Descripcion",
        "default": "Bienvenido a Nuestra Tienda"
      },
      {
          "type": "text",
          "id": "button_label_1",
          "default": "t:sections.image-banner.blocks.buttons.settings.button_label_1.default",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_label_1.label",
          "info": "t:sections.image-banner.blocks.buttons.settings.button_label_1.info"
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_link_1.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_1",
          "default": false,
          "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_1.label"
        }
    ],
    "presets": [
      {
        "name": "Tricolumn Section",
        "category": "Custom"
      }
    ]
  }
  {% endschema %}
  {% stylesheet %}
    .responsive-section {
      padding: 20px;
      background-color: #f9f9f9;
      border: 1px solid #ccc;
    }
  
    .columns-container {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }
  
    .column {
      flex: 1 1 100%; /* Por defecto, cada columna toma el 100% del ancho del contenedor */
      text-align: center;
      padding: 10px;
      border: 1px solid #ddd;
    }
  
    /* Media query para pantallas más grandes que 749px */
    @media (min-width: 750px) {
      .column {
        flex: 1 1 33%; /* Cada columna toma aproximadamente un tercio del ancho del contenedor */
      }
    }
    {% endstylesheet %}
  
  <div class="responsive-section">
    <div class="columns-container">
      {%- if section.settings.button_label_1 != blank -%}
        <a
          {% if section.settings.button_link_1 == blank %}
            role="link" aria-disabled="true"
          {% else %}
            href="{{ section.settings.button_link_1 }}"
          {% endif %}
          class="button{% if section.settings.button_style_secondary_1 %} button--secondary{% else %} button--primary{% endif %}"
        >
          {{- section.settings.button_label_1 | escape -}} 
          <span class="svg-wrapper">
            {{- 'icon-arrow-button.svg' | inline_asset_content -}}
          </span>
        </a>
      {%- endif -%}
    </div>
  </div>
  